<h1>New Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Back', people_path %>


<%= form_with scope: :article, local: true do |form| %>
  <p>
  <%= form.label :test %><br>
  <%= form.text_field :test %>
  </p>

  <p>
  <%= form.label :text %><br>
  <%= form.text_area :text %>
  </p>

  <p>
  <%= form.submit %>
  </p>
<% end %>
